@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
    * {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
	background-color: #f0f0f0;
	width: 100%;
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

.logo {
	text-decoration: none;
	color: #3a6cf4;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.8em;
	transition: 0.7s ease;
}

.logo:hover {
	transform: scale(1.1);
}

.navigation a {
	text-decoration: none;
	color: #3a6cf4;
	font-size: 1.1em;
	font-weight: 800;
	padding-left: 30px;
}

.navigation a:hover{
	color:#5224bf;
}

section {
	padding: 100px 200px;
}

.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(image/layered-peaks-haikei.svg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
}

.main h2 {
	color: whitesmoke;
	font-size: 1.4em;
	font-weight: 500;
}


.main h2 span {
	display: inline-block;
	margin-top: 5px ;
	color: #7c9fff;
	font-size: 3em;
	font-weight: 900;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main h3 {
	color: whitesmoke;
	font-size: 1.6em;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-btn {
	color: whitesmoke;
	background-color: #093FB4;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 500;
	display: inline-block;
	padding: 0.9375em 2.1857em;
	letter-spacing: 1px;
	border-radius: 15px;
	margin-bottom: 40px;
	transition: 0.4s ease;
}

.main-btn:hover {
	background-color: #5224bf;
	transform: scale(1.1);
	
}

.social a{
	color: whitesmoke;
	font-size: 1.7em;
	padding-right: 30px;
}

.title {
	display: flex;
	justify-content: center;
	font-size: 2.2em;
	font-weight: 1000;
	color: #140734;
	margin-bottom: 30px;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.card {
	background-color: #fff;
	width: 21.25em;
	box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
	border-radius: 10px;
	padding: 25px;
	margin: 15px;
	transition: 0.5s;
}

.card:hover {
	transform: scale(1.1);
}

.icon {
	color: #3a6cf4;
	font-size: 8em;
	text-align: center;
}

.info {
	text-align: center;
}

.info h3 {
	color: 	#3a6cf4;
	font-size: 1.2em;
	font-weight: 700;
	margin: 10px;
	
}

.Certificates {
	background: url(image/stacked-waves-haikei.svg) no-repeat;
	background-size: cover;
	background-position: center;
}

.Certificates .content {
	margin-top: 30px;

}
.Certificates-card {
	background-color: #fff;
	border: 3px solid #fff ;
	min-height: 14em;
	width: 23em;
	overflow: hidden;
	border-radius: 10px;
	margin: 20px;
	transition: 0.5s ease;
}

.Certificates-card:hover {
		transform: scale(1.1);
}

.Certificates-image img {
	width: 100%;

}

.Certificates-info {
	padding: 1em;
}

.Certificates-title {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 800;
	align-items: center;   

	
}

.more {
	text-decoration: none;
	color:#3a6cf4 ;
	width: 200px;
	align-items: center;
}
.more:hover {
	color: #5224bf;

}

.morecpp {
	margin: 20px;

}

.contact .icon{
	font-size: 4.5em;
	
}

.footer {
	background: url(image/stacked-waves-haikei.svg) no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 2em;
	display: flex;
	justify-content: space-between;
}

.footer-title {
	font-size: 1.3em;
	font-weight: 600;
}

.footer-title span {
	color: #7c9fff;
}

.footer .social a {
	font-size: 1.3em;
}

